.jedi-list-item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: .25rem .5rem;
  align-items: center;
  justify-content: stretch;

  & > span {
    position: relative;
    display: block;
    flex: 1 1 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;

    &:first-of-type {
      flex: 0 0 3rem;
    }
  }
}
